<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="resources/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="resources/lib/jquery/jquery.dropotron.min.js"></script>
<script type="text/javascript" src="resources/lib/jquery/jquery.scrolly.min.js"></script>
<script type="text/javascript" src="resources/lib/jquery/jquery.scrollgress.min.js"></script>
<script type="text/javascript" src="resources/lib/skel/skel.min.js"></script>
<script type="text/javascript" src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/template/js/util.js"></script>
<script type="text/javascript" src="resources/template/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="resources/template/css/main.css" />
<link rel="icon" type="image/x-icon" href="resources/template/images/tab.ico" />
<title>NEIIST</title>
</head>
<body>
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo">
                <a href="index.php">NEIIST</a>
            </h1>
            <!-- NOTE: Not used in the example, uncomment in NEIIST site pages
            <nav id="nav">
                <ul>
                    <li class="submenu"><a href="#">Menu</a>
                        <ul>
                            <li><a href="activities.php">Atividades</a></li>
                            <li><a href="news.php">Notícias</a></li>
                            <li><a href="who-are-we.php">Quem Somos</a></li>
                            <li><a href="course.php">O Curso</a></li>
                            <li><a href="sections.php">Secções</a></li>
                            <li><a href="https://groups.tecnico.ulisboa.pt/neiist/docs/Estatutos.pdf"
                                target="_blank">Estatutos</a></li>
                            <li><a href="contacts.php">Contactos</a></li>
                        </ul></li>
                    <li><a href="#" class="button special" style="visibility: hidden">Sign Up</a></li>
                </ul>
            </nav>
            -->
        </header>
        <!-- @{CONTENT} -->
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/neiist" class="icon circle fa-twitter" target="_blank"><span
                        class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/NEIIST/" class="icon circle fa-facebook" target="_blank"><span
                        class="label">Facebook</span></a></li>
                <li><a href="https://plus.google.com/103114271934457153451/posts"
                    class="icon circle fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
                <li><a href="https://www.instagram.com/neiist/" class="icon circle fa-instagram" target="_blank"><span
                        class="label">Instagram</span></a></li>
                <li><a
                    href="https://www.linkedin.com/company/neiist---n-cleo-estudantil-de-inform-tica-do-instituto-superior-t-cnico"
                    class="icon circle fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; NEIIST</li>
            </ul>
        </footer>
    </div>
</body>
</html>
